*{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

table{
    table-layout: fixed;
}

h1, h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

p{
    font-size: 20px;
    text-align: justify;
}

.imgs{
    margin: auto;
    display: block;
    padding: 30px;
    width: 800px;
}

#elonImg{
    padding: 30px;
    float: right;
    width: 400px;
}

#launch4{
    width: 700px;
}

#launch2{
    width: 700px;
}

#logoImg{
    width: 500px;
}

.arrow{
    margin: auto;
    display: block;
    width: 50px;
    margin-top: 60px;
    margin-bottom: 50px;
    cursor: pointer;
}

.card{
    margin: 30px;
}

#launchesBtn{
    margin: auto;
    display: block;
    width: 300px;
    padding: 30px;
    font-size: 25px;
}

#readMore{
    margin: auto;
    display: block;
    width: 160px;
    cursor: pointer;
}